# Import Libraries

In [36]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [37]:
data = 'C:\\Users\\mandeep.singh\\car_evaluation.csv'

df = pd.read_csv(data)

In [38]:
df.head()

  Buying Maintainance Door Persons Lugg_Boot Safety  Class
0  vhigh        vhigh    2       2     small    low  unacc
1  vhigh        vhigh    2       2     small    med  unacc
2  vhigh        vhigh    2       2     small   high  unacc
3  vhigh        vhigh    2       2       med    low  unacc
4  vhigh        vhigh    2       2       med    med  unacc

In [9]:
## Independent Variables -

# Buying - buying price
# Maintainance - price of the maintenance
# Door - number of doors
# Persons - capacity in terms of persons to carry
# Lugg_Boot- the size of luggage boot
# Safety - estimated safety of the car

# Target Variable - 
# Class

# Exploratory Data Analysis

In [39]:
df.shape

(1728, 7)

In [40]:
#View summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Buying        1728 non-null   object
 1   Maintainance  1728 non-null   object
 2   Door          1728 non-null   object
 3   Persons       1728 non-null   object
 4   Lugg_Boot     1728 non-null   object
 5   Safety        1728 non-null   object
 6   Class         1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [14]:
#There are 7 variables in the dataset. All the variables are of categorical data type.

In [41]:
df['Class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: Class, dtype: int64

In [17]:
#The class target variable is ordinal in nature.

# Check for missing values

In [42]:
df.isnull().sum()

Buying          0
Maintainance    0
Door            0
Persons         0
Lugg_Boot       0
Safety          0
Class           0
dtype: int64

# Divide data into feature vector and target variable

In [43]:
X = df.drop(['Class'], axis=1)

y = df['Class']

# Train test split

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

# Feature Engineering

In [45]:
X_train.dtypes  # checking the data type of each column/variable

Buying          object
Maintainance    object
Door            object
Persons         object
Lugg_Boot       object
Safety          object
dtype: object

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
encoder = OrdinalEncoder()

In [49]:
X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [50]:
from sklearn.tree import DecisionTreeClassifier
clf_en = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)


# fit the model
clf_en.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [52]:
y_pred_en = clf_en.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score

print('Model accuracy score with criterion entropy: {0:0.4f}'. format(accuracy_score(y_test, y_pred_en)))

Model accuracy score with criterion entropy: 0.7653

# Compare the train-set and test-set accuracy

In [54]:
y_pred_train_en = clf_en.predict(X_train)

y_pred_train_en

array(['unacc', 'unacc', 'acc', ..., 'acc', 'unacc', 'unacc'],
      dtype=object)

In [55]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_en)))

Training-set accuracy score: 0.7744

# Check for overfitting and underfitting

In [56]:
print('Training set score: {:.4f}'.format(clf_en.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(clf_en.score(X_test, y_test)))

Training set score: 0.7744
Test set score: 0.7653