# Ridge Regression With Example

In [274]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge

In [275]:
train_df = pd.read_csv('big_mart_Train.csv')

In [276]:

train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Feature Engineering

# Missing Value Treatment - imputing missing values

In [277]:
train_df['Item_Weight'].fillna((train_df['Item_Weight'].mean()), inplace=True)

In [278]:
train_df['Item_Visibility'] = train_df['Item_Visibility'].replace(0,np.mean(train_df['Item_Visibility']))

In [279]:
train_df['Outlet_Establishment_Year'] = 2013 - train_df['Outlet_Establishment_Year']

In [280]:
train_df['Outlet_Size'].fillna('Small',inplace=True)

# creating dummy variables to convert categorical into numeric values

In [281]:
mylist = list(train_df.select_dtypes(include=['object']).columns)
mylist

dummies = pd.get_dummies(train_df[mylist], prefix= mylist)

train_df.drop(mylist, axis=1, inplace = True)

In [282]:
X = pd.concat([train_df,dummies], axis =1 )

In [283]:
X.drop('Item_Outlet_Sales',axis=1,inplace=True)

In [284]:
X.shape

(8523, 1604)

# Train test split

In [285]:
x_train, x_cv, y_train, y_cv = train_test_split(X,train_df.Item_Outlet_Sales,random_state=5)

# Linear Regression Model

In [286]:
lreg = LinearRegression()

lreg.fit(x_train,y_train)

LinearRegression()

In [288]:

pred = lreg.predict(x_cv)

# Checking accuracy

In [289]:
from sklearn.metrics import r2_score # r2_score is used to compare the values which are predicted by model and actual values
                                        # so that we can find out accuracy of our model
score=r2_score(y_cv,pred)
score

-467113222386.65656

# Ridge Regression

In [290]:
ridge = Ridge(0.9, normalize=True)
ridge.fit(x_train,y_train)
pred1 = ridge.predict(x_cv)

# Accuracy

In [291]:
ridge.score(x_cv,y_cv)

0.4745069173103982