In [1]:
import pandas as pd 
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
y = df.iloc[:,-1].values

In [5]:
X = df.iloc[:,3:13].values

In [6]:
X[0]

array([619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
LE1 = LabelEncoder()
X[:,2] = np.array(LE1.fit_transform(X[:,2]))

In [8]:
X[0]

array([619, 'France', 0, 42, 2, 0.0, 1, 1, 1, 101348.88], dtype=object)

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [11]:
ct =ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder="passthrough")
X = np.array(ct.fit_transform(X))

In [12]:
X[0]

array([1.0, 0.0, 1.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
ann = tf.keras.models.Sequential()

In [16]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [17]:
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [18]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [19]:
ann.fit(X_train,Y_train,batch_size=32,epochs = 50)

Epoch 1/50
250/250 [==============================] - 1s 2ms/step - loss: 0.6679 - accuracy: 0.6417
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4955 - accuracy: 0.7968
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.7991
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8051
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4249 - accuracy: 0.8159
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8209
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4054 - accuracy: 0.8288
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3920 - accuracy: 0.8372
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3788 - accuracy: 0.8451
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3686 - accuracy: 0.8499
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8511
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8529
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3542 - accuracy: 0.8547
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8562
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8562
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8562
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8585
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8590
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8595
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8602
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8602
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8600
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8602
Epoch 24/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8597
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8601
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8599
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8599
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8627
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8595
Epoch 30/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8610
Epoch 31/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8612
Epoch 32/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8614
Epoch 33/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8615
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8631
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8602
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8625
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8622
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8635
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8612
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8619
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8619
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8609
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8601
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8624
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8599
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8624
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8618
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8622
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8611

In [23]:
print(ann.predict(sc.transform([[1.0, 0.0, 1.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88]])) > 0.5)

1/1 [==============================] - 0s 105ms/step
[[ True]]